Address03 can't handle CNAME PTR delegation

DNS says:

```
# host -t a ns-auth-1.svc.inet.le-fay.org
ns-auth-1.svc.inet.le-fay.org has address 81.187.47.195
# host 81.187.47.195
195.47.187.81.in-addr.arpa is an alias for 195.192-207.47.187.81.in-addr.arpa.
195.192-207.47.187.81.in-addr.arpa domain name pointer fuchsia.eden.le-fay.org.
```

zonemaster.net (running 2024.2, as of today) says:

```
Warning Nameserver ns-auth-1.svc.inet.le-fay.org has an IP address (81.187.47.195) without PTR configured.
```

this warning is wrong, since it *does* have a PTR, it's just behind a CNAME delegation.

@llfw, thank you for pointing that out. 

The name of the name server is `ns-auth-1.svc.inet.le-fay.org` and I notice that the reverse lookup gives a different name,

```
195.47.187.81.in-addr.arpa. CNAME 195.192-207.47.187.81.in-addr.arpa.
195.192-207.47.187.81.in-addr.arpa. PTR	fuchsia.eden.le-fay.org.
```
There are at least two names pointing at the same IPv4 address,
```
fuchsia.eden.le-fay.org. A	81.187.47.195
ns-auth-1.svc.inet.le-fay.org. A 81.187.47.195
```
and having two PTR is not recommended.

Is the mismatch the reason for Address03 fails or is CNAME an issue for the test case?

The [specification of Address03] refer to [RFC 1912, section 2.1]. I will check what is says about the reverse lookup for a name server. And also verify how the code would handle a reverse lookup through CNAME when the PTR points back to the original name server name.

[RFC 1912, section 2.1]: https://datatracker.ietf.org/doc/html/rfc1912#section-2.1
[specification of Address03]: https://doc.zonemaster.net/latest/specifications/tests/Address-TP/address03.html



hello,

this is not about the mismatch between the NS record name (ns-auth-1) and the PTR name (fuchsia) - there's already a separate check for this at "INFO" level that triggers for all three nameservers for this domain (you can check this by running zonemaster on le-fay.org).

this is specifically about "Nameserver ... has an IP address ... without PTR configured", which is at "WARNING" level and is only raised for one of the domain's nameservers, ns-auth-1, and then only for that nameserver's IPv4 address, not its IPv6 address.  this is also the only nameserver address whose reverse DNS is via CNAME delegation, which is why i believe that's what's causing the problem.

i have no particular opinion on the NS/PTR mismatch check (i personally ignore it and don't care, but i'm fine with zonemaster flagging it), but i don't think that's related to this bug: since zonemaster can't find the PTR at all, it would still raise this warning even if the PTR record was "ns-auth-1".

@llfw, I can confirm your observation that the CNAME does not not seem to be handled correctly. Both the specification and the implementation need updates. Thank you for reporting this.

```
$ zonemaster-cli --show-testcase --level info --test address03 le-fay.org

Seconds Level    Testcase       Message
======= ======== ============== =======
   0.00 INFO     Unspecified    Using version v7.0.0 of the Zonemaster engine.
  11.94 NOTICE   Address03      Nameserver ns-auth-1.svc.inet.le-fay.org has an IP address (2001:8b0:aab5:4::9) with mismatched PTR result (fuchsia.eden.le-fay.org.).
  12.68 WARNING  Address03      Nameserver ns-auth-1.svc.inet.le-fay.org has an IP address (81.187.47.195) without PTR configured.
  13.11 NOTICE   Address03      Nameserver ns-auth-2.svc.inet.le-fay.org has an IP address (2001:ba8:4015:100::2) with mismatched PTR result (amaranth.eden.le-fay.org.).
  13.45 NOTICE   Address03      Nameserver ns-auth-3.svc.inet.le-fay.org has an IP address (176.126.243.79) with mismatched PTR result (yarrow.eden.le-fay.org.).
  13.73 NOTICE   Address03      Nameserver ns-auth-3.svc.inet.le-fay.org has an IP address (2a00:1098:6b:100::2) with mismatched PTR result (yarrow.eden.le-fay.org.).
```


This bug happens only if the target of the alias (CNAME record) lives in a different zone from where the original node is, which is often the case with classless in-addr.arpa delegations. If the authoritative name server returns a CNAME and a PTR in the same packet, it doesn’t seem to happen.

Resolved by https://github.com/zonemaster/zonemaster-engine/pull/1432