New DNSSEC requirement: Check for DNSKEY algorithms

If there are DNSKEY keys in the zone with multiple algorithms, all algorithms must have corresponding RRSIG signatures in the zone.

This is covered in [Section 2.2 of RFC 4035](https://tools.ietf.org/html/rfc4035#section-2.2).


This issue will be solved bey #780.

Resolved by #780.