Glue records test need to verify A/AAAA records as well, not only NS records

Delegation/DELEGATION07 only verifies that NS records match in parent and child zones, but also need to verify any A or AAAA records if present.
Should err if parent contains records not found in child. This is a serious error that may cause complete zone lookup failures.
Should warn if child contains records not found in parent.

Test case [Consistency05](https://github.com/zonemaster/zonemaster/blob/master/docs/specifications/tests/Consistency-TP/consistency05.md) verifies that the strict glue address records are defined in the child zone. We are working on the details of Consistency05 so there is a pull request (#620) with proposed updates. The full text of that can be seen [here](https://github.com/matsduf/zonemaster/blob/update-consistency05/docs/specifications/tests/Consistency-TP/consistency05.md).

We agree that strict glue must be found in the child zone (or a zone below). Non-strict glue (out-of-bailiwick) must also be defined, but somewhere else.

By default we have a notice (milder than warning) if the zone has either extra NS or extra IP address on glue, but that could be reset by anyone setting up Zonemaster.

Thank you for your feedback. Do you feel that something is still missing? 

Looks good to me. Seems to cover all cases I can think of.

Note: I came here because testing with current Zonemaster relase (CPAN, have not tried git) failed to detect mismatch in NS A records between parent glue and child zone. Now that you pointed me at the right test I fail to see how it could pass.. from what I can understand the error should have been detected. I will try to reproduce the error (data not saved unfortunately, and the dns error have been corrected)

Filed as issue 424 in Zonemaster-engine instead. The implementation of Method 4 is borked.

The root cause seems to be the description of [Method 4](https://github.com/zonemaster/zonemaster/blob/master/docs/specifications/tests/Methods.md#method-4-obtain-glue-address-records-from-parent) and to some extent Method 5 as well.
As described Method 4 will return the child address records of the NS records listed in the parent zone. Which is in contradiction with the title of Method 4. 

I agree that the specification of Method 4 is wrong. The methods are in need of update. There is a pull request (#613) with proposed updates, or a rewrite. The full text of the proposal can be seen [here](https://github.com/matsduf/zonemaster/blob/update-methods-and-test-cases/docs/specifications/tests/Methods.md).

Can you share the domain that you tested that Zonemaster did not catch the error of? It is only interesting if you have not corrected the errors.

The domain where I detected the error is already corrected.

I created a local testsetup to repeat the error. But it's on my
internal network. A save of the test is attached.

In this testcase there is a single NS for the domain, and the IP of
that NS differs between the referral and the child zone.

Parent (hno.se)
brokendelegation.hno.se. 3600	IN	NS	ns1.brokendelegation.hno.se.
ns1.brokendelegation.hno.se. 3600 IN	A	192.168.3.159

Child (brokendelegation.hno.se)
brokendelegation.hno.se. 172800	IN	NS	ns1.brokendelegation.hno.se.
ns1.brokendelegation.hno.se. 172800 IN	A	192.168.3.254


$ zonemaster-cli --restore brokendelegation.hno.se.zonemasterdata --test Consistency/consistency05 brokendelegation.hno.se.
Seconds Level     Message
======= ========= =======
Looks OK.


Should fail with no common IP.

Regards
Henrik
y.ns.se 185.159.197.150 {}
j.root-servers.net 192.58.128.30 {}
j.root-servers.net 2001:0503:0c27:0000:0000:0000:0002:0030 {}
k.root-servers.net 193.0.14.129 {}
k.root-servers.net 2001:07fd:0000:0000:0000:0000:0000:0001 {}
b.root-servers.net 192.228.79.201 {}
m.root-servers.net 202.12.27.33 {"hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":177,"data":"lsaAAAABAAAACgAPA2hubwJzZQAABgABwBAAAgABAAKjAAAHAWoCbnPAEMAQAAIAAQACowAABAFjwCbAEAACAAEAAqMAAAQBYcAmwBAAAgABAAKjAAAEAWnAJsAQAAIAAQACowAABAF4wCbAEAACAAEAAqMAAAQBYsAmwBAAAgABAAKjAAAEAWfAJsAQAAIAAQACowAABAF5wCbAEAACAAEAAqMAAAQBZsAmwBAAAgABAAKjAAAEAXrAJsBHAAEAAQACowAABMAkkGvAdwABAAEAAqMAAATAJIVrwDcAAQABAAKjAAAEwCSHa8CnAAEAAQACowAABMBHNTXAhwABAAEAAqMAAASC7wVywFcAAQABAAKjAAAEwpJqFsAkAAEAAQACowAABMf+PwHAZwABAAEAAqMAAATVbBkEwJcAAQABAAKjAAAEuZ/FlsC3AAEAAQACowAABLmfxpbARwAcAAEAAqMAABAqAQPwAAADAQAAAAAAAABTwHcAHAABAAKjAAAQIAEGfCVMAwEAAAAAAAAAU8A3ABwAAQACowAAECABBnwlVAMBAAAAAAAAAFPApwAcAAEAAqMAABAqAQPwAAADBQAAAAAAAABTwIcAHAABAAKjAAAQIAEGsAAOAAMAAAAAAAAAAQ==","timestamp":1532084000.11964,"answerfrom":"202.12.27.33"}}}}}}}}},"brokendelegation.hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":178,"timestamp":1532083999.87193,"data":"ylaAAAABAAAACgAPEGJyb2tlbmRlbGVnYXRpb24DaG5vAnNlAAAGAAHAIQACAAEAAqMAAAcBZwJuc8AhwCEAAgABAAKjAAAEAXjAN8AhAAIAAQACowAABAF5wDfAIQACAAEAAqMAAAQBYcA3wCEAAgABAAKjAAAEAWPAN8AhAAIAAQACowAABAFmwDfAIQACAAEAAqMAAAQBasA3wCEAAgABAAKjAAAEAWnAN8AhAAIAAQACowAABAFiwDfAIQACAAEAAqMAAAQBesA3wGgAAQABAAKjAAAEwCSQa8C4AAEAAQACowAABMAkhWvAeAABAAEAAqMAAATAJIdrwIgAAQABAAKjAAAEwEc1NcA1AAEAAQACowAABILvBXLAqAABAAEAAqMAAATCkmoWwJgAAQABAAKjAAAEx/4/AcBIAAEAAQACowAABNVsGQTAWAABAAEAAqMAAAS5n8WWwMgAAQABAAKjAAAEuZ/GlsBoABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAuAAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwHgAHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8CIABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPANQAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAAB","answerfrom":"202.12.27.33"}}}}}}}}},"se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":177,"answerfrom":"202.12.27.33","timestamp":1532084000.35927,"data":"VjWAAAABAAAACgAQAnNlAAAGAAHADAACAAEAAqMAAAcBYQJuc8AMwAwAAgABAAKjAAAEAWrAIsAMAAIAAQACowAABAF6wCLADAACAAEAAqMAAAQBZsAiwAwAAgABAAKjAAAEAXjAIsAMAAIAAQACowAABAFnwCLADAACAAEAAqMAAAQBY8AiwAwAAgABAAKjAAAEAXnAIsAMAAIAAQACowAABAFiwCLADAACAAEAAqMAAAQBacAiwCAAAQABAAKjAAAEwCSQa8CjAAEAAQACowAABMAkhWvAgwABAAEAAqMAAATAJIdrwFMAAQABAAKjAAAEwEc1NcBzAAEAAQACowAABILvBXLAswABAAEAAqMAAATCkmoWwDMAAQABAAKjAAAEx/4/AcBjAAEAAQACowAABNVsGQTAkwABAAEAAqMAAAS5n8WWwEMAAQABAAKjAAAEuZ/GlsAgABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAowAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwIMAHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8BTABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPAcwAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAABwLMAHAABAAKjAAAQIAEGfBAQAAUAAAAAAAAAUw=="}}}}}}}}},"home.hno.se":{"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"timestamp":1532084001.15364,"data":"0AWAAAABAAAACgAPBGhvbWUDaG5vAnNlAAABAAHAFQACAAEAAqMAAAcBeQJuc8AVwBUAAgABAAKjAAAEAWPAK8AVAAIAAQACowAABAFnwCvAFQACAAEAAqMAAAQBYsArwBUAAgABAAKjAAAEAWHAK8AVAAIAAQACowAABAF4wCvAFQACAAEAAqMAAAQBZsArwBUAAgABAAKjAAAEAXrAK8AVAAIAAQACowAABAFqwCvAFQACAAEAAqMAAAQBacArwGwAAQABAAKjAAAEwCSQa8BcAAEAAQACowAABMAkhWvAPAABAAEAAqMAAATAJIdrwIwAAQABAAKjAAAEwEc1NcBMAAEAAQACowAABILvBXLAvAABAAEAAqMAAATCkmoWwKwAAQABAAKjAAAEx/4/AcB8AAEAAQACowAABNVsGQTAKQABAAEAAqMAAAS5n8WWwJwAAQABAAKjAAAEuZ/GlsBsABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAXAAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwDwAHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8CMABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPATAAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAAB","answerfrom":"202.12.27.33","querytime":177}}}}}}}},"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"timestamp":1532084001.39358,"data":"xh+AAAABAAAACgAPBGhvbWUDaG5vAnNlAAAcAAHAFQACAAEAAqMAAAcBYgJuc8AVwBUAAgABAAKjAAAEAWPAK8AVAAIAAQACowAABAFnwCvAFQACAAEAAqMAAAQBeMArwBUAAgABAAKjAAAEAWrAK8AVAAIAAQACowAABAFhwCvAFQACAAEAAqMAAAQBesArwBUAAgABAAKjAAAEAWbAK8AVAAIAAQACowAABAFpwCvAFQACAAEAAqMAAAQBecArwHwAAQABAAKjAAAEwCSQa8ApAAEAAQACowAABMAkhWvAPAABAAEAAqMAAATAJIdrwJwAAQABAAKjAAAEwEc1NcBMAAEAAQACowAABILvBXLArAABAAEAAqMAAATCkmoWwGwAAQABAAKjAAAEx/4/AcBcAAEAAQACowAABNVsGQTAvAABAAEAAqMAAAS5n8WWwIwAAQABAAKjAAAEuZ/GlsB8ABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAKQAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwDwAHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8CcABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPATAAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAAB","answerfrom":"202.12.27.33","querytime":177}}}}}}}}},"ns1.brokendelegation.hno.se":{"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"answerfrom":"202.12.27.33","data":"/weAAAABAAAACgAPA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAHAABwCUAAgABAAKjAAAHAWoCbnPAJcAlAAIAAQACowAABAF5wDvAJQACAAEAAqMAAAQBY8A7wCUAAgABAAKjAAAEAWHAO8AlAAIAAQACowAABAF6wDvAJQACAAEAAqMAAAQBZsA7wCUAAgABAAKjAAAEAWfAO8AlAAIAAQACowAABAFiwDvAJQACAAEAAqMAAAQBeMA7wCUAAgABAAKjAAAEAWnAO8BsAAEAAQACowAABMAkkGvArAABAAEAAqMAAATAJIVrwFwAAQABAAKjAAAEwCSHa8CMAAEAAQACowAABMBHNTXAnAABAAEAAqMAAASC7wVywMwAAQABAAKjAAAEwpJqFsA5AAEAAQACowAABMf+PwHAvAABAAEAAqMAAATVbBkEwEwAAQABAAKjAAAEuZ/FlsB8AAEAAQACowAABLmfxpbAbAAcAAEAAqMAABAqAQPwAAADAQAAAAAAAABTwKwAHAABAAKjAAAQIAEGfCVMAwEAAAAAAAAAU8BcABwAAQACowAAECABBnwlVAMBAAAAAAAAAFPAjAAcAAEAAqMAABAqAQPwAAADBQAAAAAAAABTwJwAHAABAAKjAAAQIAEGsAAOAAMAAAAAAAAAAQ==","timestamp":1532084001.95278,"querytime":178}}}}}}}},"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"answerfrom":"202.12.27.33","timestamp":1532084001.70909,"data":"/pmAAAABAAAACgAPA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAAQABwCUAAgABAAKjAAAHAXgCbnPAJcAlAAIAAQACowAABAF5wDvAJQACAAEAAqMAAAQBYsA7wCUAAgABAAKjAAAEAWfAO8AlAAIAAQACowAABAFqwDvAJQACAAEAAqMAAAQBYcA7wCUAAgABAAKjAAAEAWPAO8AlAAIAAQACowAABAFmwDvAJQACAAEAAqMAAAQBacA7wCUAAgABAAKjAAAEAXrAO8CMAAEAAQACowAABMAkkGvAXAABAAEAAqMAAATAJIVrwJwAAQABAAKjAAAEwCSHa8CsAAEAAQACowAABMBHNTXAbAABAAEAAqMAAASC7wVywLwAAQABAAKjAAAEwpJqFsB8AAEAAQACowAABMf+PwHAOQABAAEAAqMAAATVbBkEwEwAAQABAAKjAAAEuZ/FlsDMAAEAAQACowAABLmfxpbAjAAcAAEAAqMAABAqAQPwAAADAQAAAAAAAABTwFwAHAABAAKjAAAQIAEGfCVMAwEAAAAAAAAAU8CcABwAAQACowAAECABBnwlVAMBAAAAAAAAAFPArAAcAAEAAqMAABAqAQPwAAADBQAAAAAAAABTwGwAHAABAAKjAAAQIAEGsAAOAAMAAAAAAAAAAQ==","querytime":177}}}}}}}}},"a.ns.se":{"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"timestamp":1532084000.63772,"data":"Lg+AAAABAAAACgAQAWECbnMCc2UAAAEAAcARAAIAAQACowAABAF6wA7AEQACAAEAAqMAAALADMARAAIAAQACowAABAF4wA7AEQACAAEAAqMAAAQBecAOwBEAAgABAAKjAAAEAWrADsARAAIAAQACowAABAFiwA7AEQACAAEAAqMAAAQBZ8AOwBEAAgABAAKjAAAEAWbADsARAAIAAQACowAABAFjwA7AEQACAAEAAqMAAAQBacAOwAwAAQABAAKjAAAEwCSQa8BzAAEAAQACowAABMAkhWvAowABAAEAAqMAAATAJIdrwJMAAQABAAKjAAAEwEc1NcCDAAEAAQACowAABILvBXLAswABAAEAAqMAAATCkmoWwGMAAQABAAKjAAAEx/4/AcBDAAEAAQACowAABNVsGQTAUwABAAEAAqMAAAS5n8WWwCUAAQABAAKjAAAEuZ/GlsAMABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAcwAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwKMAHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8CTABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPAgwAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAABwLMAHAABAAKjAAAQIAEGfBAQAAUAAAAAAAAAUw==","answerfrom":"202.12.27.33","querytime":177}}}}}}}},"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":178,"timestamp":1532084000.85291,"data":"89GAAAABAAAACgAQAWECbnMCc2UAABwAAcARAAIAAQACowAABAFnwA7AEQACAAEAAqMAAAQBZsAOwBEAAgABAAKjAAAEAWPADsARAAIAAQACowAABAF6wA7AEQACAAEAAqMAAALADMARAAIAAQACowAABAFpwA7AEQACAAEAAqMAAAQBeMAOwBEAAgABAAKjAAAEAXnADsARAAIAAQACowAABAFiwA7AEQACAAEAAqMAAAQBasAOwAwAHAABAAKjAAAQKgED8AAAAwEAAAAAAAAAU8AMAAEAAQACowAABMAkkGvAowABAAEAAqMAAATAJIVrwEUAAQABAAKjAAAEwCSHa8A1AAEAAQACowAABMBHNTXAJQABAAEAAqMAAASC7wVywHMAAQABAAKjAAAEwpJqFsCzAAEAAQACowAABMf+PwHAgwABAAEAAqMAAATVbBkEwJMAAQABAAKjAAAEuZ/FlsBVAAEAAQACowAABLmfxpbAowAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwEUAHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8A1ABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPAJQAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAABwHMAHAABAAKjAAAQIAEGfBAQAAUAAAAAAAAAUw==","answerfrom":"202.12.27.33"}}}}}}}}}}
m.root-servers.net 2001:0dc3:0000:0000:0000:0000:0000:0035 {"hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":null}}}}}},"brokendelegation.hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":null}}}}}},"home.hno.se":{"A":{"IN":{"0":{"0":{"0":{"0":null}}}}},"AAAA":{"IN":{"0":{"0":{"0":{"0":null}}}}}},"se":{"SOA":{"IN":{"0":{"0":{"0":{"0":null}}}}}},"a.ns.se":{"A":{"IN":{"0":{"0":{"0":{"0":null}}}}},"AAAA":{"IN":{"0":{"0":{"0":{"0":null}}}}}},"ns1.brokendelegation.hno.se":{"AAAA":{"IN":{"0":{"0":{"0":{"0":null}}}}},"A":{"IN":{"0":{"0":{"0":{"0":null}}}}}}}
g.root-servers.net 192.112.36.4 {}
z.ns.se 185.159.198.150 {"home.hno.se":{"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"timestamp":1532084001.58397,"data":"TZ2AAAABAAAAAwAGBGhvbWUDaG5vAnNlAAAcAAHAEQACAAEAAVGAAAsCbnMFbm9odXDAFcARAAIAAQABUYAAAsAMwBEAAgABAAFRgAAHBHZwczHAEcAMAAEAAQABUYAABFXmC5rADAAcAAEAAVGAABAgAQRwAGwGOwAAAAAAAAACwE4AAQABAAFRgAAEH8DjV8BOABwAAQABUYAAECoCB1AABQAAAAAAAAAAAPDAKQABAAEAAVGAAAQf3rU+wCkAHAABAAFRgAAQKgAaSHgBAQJCQNb//qWRIw==","answerfrom":"185.159.198.150","querytime":7}}}}}}}},"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"data":"NpCAAAABAAAAAwAGBGhvbWUDaG5vAnNlAAABAAHAEQACAAEAAVGAAAsCbnMFbm9odXDAFcARAAIAAQABUYAAAsAMwBEAAgABAAFRgAAHBHZwczHAEcAMAAEAAQABUYAABFXmC5rADAAcAAEAAVGAABAgAQRwAGwGOwAAAAAAAAACwE4AAQABAAFRgAAEH8DjV8BOABwAAQABUYAAECoCB1AABQAAAAAAAAAAAPDAKQABAAEAAVGAAAQf3rU+wCkAHAABAAFRgAAQKgAaSHgBAQJCQNb//qWRIw==","timestamp":1532084001.34411,"answerfrom":"185.159.198.150","querytime":7}}}}}}}}},"se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"timestamp":1532084000.55314,"data":"4laEAAABAAEAAAAAAnNlAAAGAAHADAAGAAEAAqMAAEASY2F0Y2hlci1pbi10aGUtcnllA25pY8AMEHJlZ2lzdHJ5LWRlZmF1bHTAM3hJVcQAAAcIAAAHCAANLwAAABwg","answerfrom":"185.159.198.150","querytime":7}}}}}}}}},"a.ns.se":{"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":7,"answerfrom":"185.159.198.150","data":"UOaEAAABAAEACgAOAWECbnMCc2UAABwAAcAMABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAEQACAAEAAqMAAALADMARAAIAAQACowAABAFiwA7AEQACAAEAAqMAAAQBY8AOwBEAAgABAAKjAAAEAWbADsARAAIAAQACowAABAFnwA7AEQACAAEAAqMAAAQBacAOwBEAAgABAAKjAAAEAWrADsARAAIAAQACowAABAF4wA7AEQACAAEAAqMAAAQBecAOwBEAAgABAAKjAAAEAXrADsAMAAEAAQACowAABMAkkGvATwABAAEAAqMAAATAJIVrwF8AAQABAAKjAAAEwCSHa8BvAAEAAQACowAABMBHNTXAfwABAAEAAqMAAASC7wVywI8AAQABAAKjAAAEwpJqFsCfAAEAAQACowAABMf+PwHArwABAAEAAqMAAATVbBkEwL8AAQABAAKjAAAEuZ/FlsDPAAEAAQACowAABLmfxpbATwAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwF8AHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8BvABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPAfwAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAAB","timestamp":1532084001.04385}}}}}}}},"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":7,"data":"DXWEAAABAAEAAAAAAWECbnMCc2UAAAEAAcAMAAEAAQACowAABMAkkGs=","timestamp":1532084000.83134,"answerfrom":"185.159.198.150"}}}}}}}}},"ns1.brokendelegation.hno.se":{"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":7,"answerfrom":"185.159.198.150","data":"NUuAAAABAAAAAwAGA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAAQABwCEAAgABAAFRgAALAm5zBW5vaHVwwCXAIQACAAEAAVGAAAcEaG9tZcAhwCEAAgABAAFRgAAHBHZwczHAIcBQAAEAAQABUYAABFXmC5rAUAAcAAEAAVGAABAgAQRwAGwGOwAAAAAAAAACwGMAAQABAAFRgAAEH8DjV8BjABwAAQABUYAAECoCB1AABQAAAAAAAAAAAPDAOQABAAEAAVGAAAQf3rU+wDkAHAABAAFRgAAQKgAaSHgBAQJCQNb//qWRIw==","timestamp":1532084001.90082}}}}}}}},"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":7,"data":"57qAAAABAAAAAwAGA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAHAABwCEAAgABAAFRgAALAm5zBW5vaHVwwCXAIQACAAEAAVGAAAcEaG9tZcAhwCEAAgABAAFRgAAHBHZwczHAIcBQAAEAAQABUYAABFXmC5rAUAAcAAEAAVGAABAgAQRwAGwGOwAAAAAAAAACwGMAAQABAAFRgAAEH8DjV8BjABwAAQABUYAAECoCB1AABQAAAAAAAAAAAPDAOQABAAEAAVGAAAQf3rU+wDkAHAABAAFRgAAQKgAaSHgBAQJCQNb//qWRIw==","timestamp":1532084002.14559,"answerfrom":"185.159.198.150"}}}}}}}}},"hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":7,"data":"/cqAAAABAAAAAwAGA2hubwJzZQAABgABwAwAAgABAAFRgAALAm5zBW5vaHVwwBDADAACAAEAAVGAAAcEaG9tZcAMwAwAAgABAAFRgAAHBHZwczHADMA7AAEAAQABUYAABFXmC5rAOwAcAAEAAVGAABAgAQRwAGwGOwAAAAAAAAACwE4AAQABAAFRgAAEH8DjV8BOABwAAQABUYAAECoCB1AABQAAAAAAAAAAAPDAJAABAAEAAVGAAAQf3rU+wCQAHAABAAFRgAAQKgAaSHgBAQJCQNb//qWRIw==","timestamp":1532084000.31013,"answerfrom":"185.159.198.150"}}}}}}}}},"brokendelegation.hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"answerfrom":"185.159.198.150","timestamp":1532084000.06841,"data":"ycaAAAABAAAAAwAGEGJyb2tlbmRlbGVnYXRpb24DaG5vAnNlAAAGAAHAHQACAAEAAVGAAAsCbnMFbm9odXDAIcAdAAIAAQABUYAABwRob21lwB3AHQACAAEAAVGAAAcEdnBzMcAdwEwAAQABAAFRgAAEVeYLmsBMABwAAQABUYAAECABBHAAbAY7AAAAAAAAAALAXwABAAEAAVGAAAQfwONXwF8AHAABAAFRgAAQKgIHUAAFAAAAAAAAAAAA8MA1AAEAAQABUYAABB/etT7ANQAcAAEAAVGAABAqABpIeAEBAkJA1v/+pZEj","querytime":7}}}}}}}}}}
a.ns.se 192.36.144.107 {"se":{"NS":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"timestamp":1532084001.0569,"data":"M6OEAAABAAoAAAAPAnNlAAACAAHADAACAAEAAqMAAAcBYwJuc8AMwAwAAgABAAKjAAAEAWnAIsAMAAIAAQACowAABAFqwCLADAACAAEAAqMAAAQBesAiwAwAAgABAAKjAAAEAWHAIsAMAAIAAQACowAABAFmwCLADAACAAEAAqMAAAQBYsAiwAwAAgABAAKjAAAEAXnAIsAMAAIAAQACowAABAFnwCLADAACAAEAAqMAAAQBeMAiwGMAAQABAAKjAAAEwCSQa8BjABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAgwABAAEAAqMAAATAJIVrwIMAHAABAAKjAAAQIAEGfCVMAwEAAAAAAAAAU8AgAAEAAQACowAABMAkh2vAIAAcAAEAAqMAABAgAQZ8JVQDAQAAAAAAAABTwHMAAQABAAKjAAAEwEc1NcBzABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPAowABAAEAAqMAAASC7wVywKMAHAABAAKjAAAQIAEGsAAOAAMAAAAAAAAAAcAzAAEAAQACowAABMKSahbAMwAcAAEAAqMAABAgAQZ8EBAABQAAAAAAAABTwEMAAQABAAKjAAAEx/4/AcBDABwAAQACowAAECABBQAALAAAAAAAAAAAAAHAswABAAEAAqMAAATVbBkE","answerfrom":"192.36.144.107","querytime":7}}}}}}}}},"hno.se":{"NS":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":7,"answerfrom":"192.36.144.107","data":"f/yAAAABAAAAAwAGA2hubwJzZQAAAgABwAwAAgABAAFRgAALAm5zBW5vaHVwwBDADAACAAEAAVGAAAcEdnBzMcAMwAwAAgABAAFRgAAHBGhvbWXADMAkAAEAAQABUYAABB/etT7AJAAcAAEAAVGAABAqABpIeAEBAkJA1v/+pZEjwE4AAQABAAFRgAAEVeYLmsBOABwAAQABUYAAECABBHAAbAY7AAAAAAAAAALAOwABAAEAAVGAAAQfwONXwDsAHAABAAFRgAAQKgIHUAAFAAAAAAAAAAAA8A==","timestamp":1532084001.12295}}}}}}}}}}
a.ns.se 2a01:03f0:0000:0301:0000:0000:0000:0053 {}
ns1.brokendelegation.hno.se 192.168.3.254 {"brokendelegation.hno.se":{"NS":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":0,"timestamp":1532084002.1876,"data":"apuEgAABAAEAAAABEGJyb2tlbmRlbGVnYXRpb24DaG5vAnNlAAACAAHADAACAAEAAqMAAAYDbnMxwAzANQABAAEAAqMAAATAqAP+","answerfrom":"192.168.3.254"}}}}}}}}}}
ns1.brokendelegation.hno.se 192.168.3.159 {"ns1.brokendelegation.hno.se":{"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":0,"answerfrom":"192.168.3.159","timestamp":1532084001.93789,"data":"Qd+EgAABAAEAAQAAA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAAQABwAwAAQABAAKjAAAEwKgD/sAQAAIAAQACowAAAsAM"}}}}}}}},"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":0,"timestamp":1532084002.18175,"data":"MjKEgAABAAAAAQAAA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAHAABwBAABgABAAABLAAkBHZwczHAIQZoZW5yaWvAIXhJVV4AAFRgAAAHCAAJOoAAAAEs","answerfrom":"192.168.3.159"}}}}}}}}},"brokendelegation.hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":0,"data":"csCEgAABAAEAAQABEGJyb2tlbmRlbGVnYXRpb24DaG5vAnNlAAAGAAHADAAGAAEAAqMAACQEdnBzMcAdBmhlbnJpa8AdeElVXgAAVGAAAAcIAAk6gAAAASzADAACAAEAAqMAAAYDbnMxwAzAZQABAAEAAqMAAATAqAP+","timestamp":1532084000.1052,"answerfrom":"192.168.3.159"}}}}}}}}}}
i.root-servers.net 192.36.148.17 {}
i.root-servers.net 2001:07fe:0000:0000:0000:0000:0000:0053 {}
e.root-servers.net 192.203.230.10 {}
j.ns.se 199.254.63.1 {}
vps1.hno.se 31.192.227.87 {"hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":17,"answerfrom":"31.192.227.87","timestamp":1532084000.32437,"data":"aKKEAAABAAEAAwAGA2hubwJzZQAABgABwAwABgABAAKjAAAkBGhvbWXADAZoZW5yaWvADHg56UcAAFRgAAAHCAAJOoAAAAEswAwAAgABAAKjAAALAm5zBW5vaHVwwBDADAACAAEAAqMAAALAJMAMAAIAAQACowAABwR2cHMxwAzAVAABAAEAAA4QAAQf3rU+wFQAHAABAAAOEAAQKgAaSHgBAQJCQNb//qWRI8AkAAEAAQAADhAABFXmC5rAJAAcAAEAAqMAABAgAQRwAGwGOwAAAAAAAAACwHkAAQABAAKjAAAEH8DjV8B5ABwAAQACowAAECoCB1AABQAAAAAAAAAAAPA="}}}}}}}}},"brokendelegation.hno.se":{"SOA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"answerfrom":"31.192.227.87","data":"kgWAAAABAAAAAQABEGJyb2tlbmRlbGVnYXRpb24DaG5vAnNlAAAGAAHADAACAAEAAA4QAAYDbnMxwAzANQABAAEAAA4QAATAqAOf","timestamp":1532084000.08329,"querytime":17}}}}}}}}},"home.hno.se":{"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":17,"answerfrom":"31.192.227.87","timestamp":1532084001.5992,"data":"Gv6EAAABAAEAAwAFBGhvbWUDaG5vAnNlAAAcAAHADAAcAAEAAqMAABAgAQRwAGwGOwAAAAAAAAACwBEAAgABAAKjAAACwAzAEQACAAEAAqMAAAsCbnMFbm9odXDAFcARAAIAAQACowAABwR2cHMxwBHAUwABAAEAAA4QAAQf3rU+wFMAHAABAAAOEAAQKgAaSHgBAQJCQNb//qWRI8AMAAEAAQAADhAABFXmC5rAagABAAEAAqMAAAQfwONXwGoAHAABAAKjAAAQKgIHUAAFAAAAAAAAAAAA8A=="}}}}}}}},"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":17,"answerfrom":"31.192.227.87","data":"LGCEAAABAAEAAwAFBGhvbWUDaG5vAnNlAAABAAHADAABAAEAAA4QAARV5guawBEAAgABAAKjAAAHBHZwczHAEcARAAIAAQACowAACwJucwVub2h1cMAVwBEAAgABAAKjAAACwAzATAABAAEAAA4QAAQf3rU+wEwAHAABAAAOEAAQKgAaSHgBAQJCQNb//qWRI8AMABwAAQACowAAECABBHAAbAY7AAAAAAAAAALAOQABAAEAAqMAAAQfwONXwDkAHAABAAKjAAAQKgIHUAAFAAAAAAAAAAAA8A==","timestamp":1532084001.35921}}}}}}}}},"ns1.brokendelegation.hno.se":{"A":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"answerfrom":"31.192.227.87","timestamp":1532084001.9153,"data":"MuCAAAABAAAAAQABA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAAQABwBAAAgABAAAOEAACwAzADAABAAEAAA4QAATAqAOf","querytime":17}}}}}}}},"AAAA":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"data":"JpCAAAABAAAAAQABA25zMRBicm9rZW5kZWxlZ2F0aW9uA2hubwJzZQAAHAABwBAAAgABAAAOEAACwAzADAABAAEAAA4QAATAqAOf","timestamp":1532084002.15969,"answerfrom":"31.192.227.87","querytime":17}}}}}}}}}}
vps1.hno.se 2a02:0750:0005:0000:0000:0000:0000:00f0 {}
d.root-servers.net 2001:0500:002d:0000:0000:0000:0000:000d {}
d.root-servers.net 199.7.91.13 {}
f.root-servers.net 192.5.5.241 {}
f.root-servers.net 2001:0500:002f:0000:0000:0000:0000:000f {}
l.root-servers.net 2001:0500:0003:0000:0000:0000:0000:0042 {}
l.root-servers.net 199.7.83.42 {}
c.ns.se 2001:067c:2554:0301:0000:0000:0000:0053 {}
c.ns.se 192.36.135.107 {}
home.hno.se 85.230.11.154 {"hno.se":{"NS":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"answerfrom":"85.230.11.154","data":"X1GEAAABAAMAAAAEA2hubwJzZQAAAgABwAwAAgABAAKjAAAHBHZwczHADMAMAAIAAQACowAABwRob21lwAzADAACAAEAAqMAAAsCbnMFbm9odXDAEMA3AAEAAQAADhAABFXmC5rAJAABAAEAAqMAAAQfwONXwDcAHAABAAKjAAAQIAEEcABsBjsAAAAAAAAAAsAkABwAAQACowAAECoCB1AABQAAAAAAAAAAAPA=","timestamp":1532084001.62578,"querytime":1}}}}}}}}},"brokendelegation.hno.se":{"NS":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"answerfrom":"85.230.11.154","data":"lnWAAAABAAAAAQABEGJyb2tlbmRlbGVnYXRpb24DaG5vAnNlAAACAAHADAACAAEAAA4QAAYDbnMxwAzANQABAAEAAA4QAATAqAOf","timestamp":1532084001.68795,"querytime":0}}}}}}}}}}
home.hno.se 2001:0470:006c:063b:0000:0000:0000:0002 {"hno.se":{"NS":{"IN":{"0":{"0":{"0":{"0":null}}}}}},"brokendelegation.hno.se":{"NS":{"IN":{"0":{"0":{"0":{"0":null}}}}}}}
b.ns.se 2001:067c:254c:0301:0000:0000:0000:0053 {}
b.ns.se 192.36.133.107 {}
h.root-servers.net 128.63.2.53 {}
h.root-servers.net 2001:0500:0001:0000:0000:0000:803f:0235 {}
ns.nohup.se 2a00:1a48:7801:0102:4240:d6ff:fea5:9123 {}
ns.nohup.se 31.222.181.62 {}
x.ns.se 213.108.25.4 {}
c.root-servers.net 192.33.4.12 {}
g.ns.se 130.239.5.114 {}
g.ns.se 2001:06b0:000e:0003:0000:0000:0000:0001 {}
f.ns.se 192.71.53.53 {}
f.ns.se 2a01:03f0:0000:0305:0000:0000:0000:0053 {}
a.root-servers.net 2001:0503:ba3e:0000:0000:0000:0002:0030 {}
a.root-servers.net 198.41.0.4 {"se":{"NS":{"IN":{"0":{"0":{"0":{"0":{"Zonemaster::Engine::Packet":{"Zonemaster::LDNS::Packet":{"querytime":38,"timestamp":1532084000.57352,"data":"jt6AAAABAAAACgAQAnNlAAACAAHADAACAAEAAqMAAAcBYQJuc8AMwAwAAgABAAKjAAAEAWLAIsAMAAIAAQACowAABAFjwCLADAACAAEAAqMAAAQBZsAiwAwAAgABAAKjAAAEAWfAIsAMAAIAAQACowAABAFpwCLADAACAAEAAqMAAAQBasAiwAwAAgABAAKjAAAEAXjAIsAMAAIAAQACowAABAF5wCLADAACAAEAAqMAAAQBesAiwCAAAQABAAKjAAAEwCSQa8AzAAEAAQACowAABMAkhWvAQwABAAEAAqMAAATAJIdrwFMAAQABAAKjAAAEwEc1NcBjAAEAAQACowAABILvBXLAcwABAAEAAqMAAATCkmoWwIMAAQABAAKjAAAEx/4/AcCTAAEAAQACowAABNVsGQTAowABAAEAAqMAAAS5n8WWwLMAAQABAAKjAAAEuZ/GlsAgABwAAQACowAAECoBA/AAAAMBAAAAAAAAAFPAMwAcAAEAAqMAABAgAQZ8JUwDAQAAAAAAAABTwEMAHAABAAKjAAAQIAEGfCVUAwEAAAAAAAAAU8BTABwAAQACowAAECoBA/AAAAMFAAAAAAAAAFPAYwAcAAEAAqMAABAgAQawAA4AAwAAAAAAAAABwHMAHAABAAKjAAAQIAEGfBAQAAUAAAAAAAAAUw==","answerfrom":"198.41.0.4"}}}}}}}}}}
i.ns.se 194.146.106.22 {}
i.ns.se 2001:067c:1010:0005:0000:0000:0000:0053 {}


Did a quick read of the new methods. Looks promising, but too much to read in detail today.

But a bit confused about in-bailiwick and it's effects on resolvers. To my understanding resolvers do not really care if glue records are in-bailiwick. If glue records are provided and the resolver do not have other authoritative cached data then the glue record will be used, regardless if it's in-bailiwick or out-of-bailiwick.

The in-bailiwick is a requirement on the parent zone that is must have and provide glue records for those servers.

An error in out-of-bailiwick glue records are equally bad. But may differ in who is responsible for the error.

The delegation must contain glue records (A, AAAA) for every in-bailiwick name server. The delegation may contain glue records for out-of-bailiwick name servers. A glue record is not authoritative data, it is just a "copy". Every glue record must match the authoritative definition of that record. If the name server is in-bailiwick it means that the record must exist in the child zone (or a zone below the child zone) with the same IP address as value (but there may be more A or AAAA records for the name). If the name server is out-of-bailiwick the glue record is defined in some other zone.

The intention is that Zonemaster will test all above and create a message for deviations.

@hno, thank you for the file. 

The terms "in-bailiwick" and "out-of-bailiwick" are used as defined in [RFC 7719], section 6, page 15.
[RFC 7719]: https://tools.ietf.org/html/rfc7719

Sounds good.

I got the impression from reading the updated text that only the in-bailiwick glue records were verified to this level. But maybe I misunderstood or overlooked something in my quick 3 min reading.

Commented on the pull request where I find it confusing.

Resolved by #620 and #613.