Name server must not point at DNAME alias

According to RFC 6672 section4 https://www.rfc-editor.org/rfc/rfc6672#section-4
The same arguments for a name server not to be a cname holds also for dname.
Therefore name servers should have no dname in their anchestors.


Thank you for point this out. We will review test case [DELEGATION05] and update it to cover also the DNAME case.

This also applies for MX according to the RFC. That affects test case [ZONE08].

I updated the headline for this issue to make it cover both NS and MX.

[DELEGATION05]: https://github.com/zonemaster/zonemaster/blob/master/docs/specifications/tests/Delegation-TP/delegation05.md
[ZONE08]: https://github.com/zonemaster/zonemaster/blob/master/docs/specifications/tests/Zone-TP/zone08.md
