RRSIG with unknown key should not be treated as an ERROR

Currently, if some of the RRSIGs in a given RRset fail to validate (i.e. no matching key exists in DNSKEY), Zonemaster reports the following ERROR:

> Trying to verify XXX RRset with signature XXX gave error 'No keys with the keytag and algorithm from the RRSIG found'.

This seems overly alarming. As far as I can tell, the presence of an RRSIG with no matching DNSKEY does not prevent the zone from being RFC-compliant. In fact, such a situation is perfectly normal and expected when doing a so-called "conservative algorithm rollover" as described in [RFC 6781 4.1.4](https://datatracker.ietf.org/doc/html/rfc6781#section-4.1.4).

In fairness, it is not entirely clear how validators are supposed to behave when faced with an invalid RRSIG. [RFC 4035 5.3.3](https://datatracker.ietf.org/doc/html/rfc4035#section-5.3.3) states that this is up to "local resolver security policy". [RFC 6840 5.4](https://datatracker.ietf.org/doc/html/rfc6840#section-5.4) further restricts this to "a resolver SHOULD accept any valid RRSIG as sufficient, and only determine that an RRset is Bogus if all RRSIGs fail validation".

IMHO this finding should be demoted from ERROR to WARNING. However an ERROR should still be thrown if *all* RRSIGs for a given RRset fail validation.

Thank your for your comments. There are two test cases involved here.

* [DNSSEC09] (RRSIG(SOA) must be valid and created by a valid DNSKEY)
  - SOA_SIGNATURE_NOT_OK ("Trying to verify SOA RRset with signature {keytag} gave error '{error}'.")
* [DNSSEC10] (Zone contains NSEC or NSEC3 records)
  - NSEC3_SIG_VERIFY_ERROR ("Trying to verify NSEC3 RRset with RRSIG {keytag} gave error '{error}'.")
  - NSEC_SIG_VERIFY_ERROR ("Trying to verify NSEC RRset with RRSIG {keytag} gave error '{error}'.")

There are proposed updatess for both test cases (#873 and #875), but they do not address the the concern in this issue.

We will review this to determine if it is an error to have RRSIG records that match no DNSKEY.



[DNSSEC09]: https://github.com/zonemaster/zonemaster/blob/master/docs/specifications/tests/DNSSEC-TP/dnssec09.md
[DNSSEC10]: https://github.com/zonemaster/zonemaster/blob/master/docs/specifications/tests/DNSSEC-TP/dnssec10.md
 


Yes, I will do an update.