Proposal of new test case: verify SOA MNAME

The SOA MNAME is supposed to be the master server of the zone. Currently Zonemaster does not do much tests of that server. This issue proposes a new test case with the following verifications of SOA MNAME:

* That the server responds to DNS queries.
* That the server is authoritative to the zone.
* That the SOA serial is identical to the NS name servers.

From [RFC 1035]:
> MNAME           The <domain-name> of the name server that was the
>                original or primary source of data for this zone.

From [RFC 1996]:
>    Primary Master  master server at the root of the zone transfer
                   dependency graph.  The primary master is named in the
                   zone's SOA MNAME field and optionally by an NS RR.
                   There is by definition only one primary master server
                   per zone.

From [RFC 2136]:
> Primary Master  master server at the root of the AXFR/IXFR
                      dependency graph.  The primary master is named in
                      the zone's SOA MNAME field and optionally by an NS
                      RR.  There is by definition only one primary master
                      server per zone.

From [RFC 2181]:
>    It is quite clear in the specifications, yet seems to have been
   widely ignored, that the MNAME field of the SOA record should contain
   the name of the primary (master) server for the zone identified by
   the SOA.  It should not contain the name of the zone itself.  That
   information would be useless, as to discover it, one needs to start
   with the domain name of the SOA record - that is the name of the
   zone.

[RFC 1035]: https://datatracker.ietf.org/doc/html/rfc1035#section-3.3.13
[RFC 1996]: https://datatracker.ietf.org/doc/html/rfc1996#section-2
[RFC 2136]: https://datatracker.ietf.org/doc/html/rfc2136#section-1
[RFC 2181]: https://datatracker.ietf.org/doc/html/rfc2181#section-7.3



Rather than a new test case, this issue now relates to updating the specification of Zone01 with further testing.

Resolved by #1032 