Update Zone09 so that differences in TTL are reported

Zone09 checks MX. One test is the verify that all servers report with the same RDATA for MX. In some cass TTL might differ (see https://github.com/zonemaster/zonemaster-engine/issues/1442) and then this test case should report that independent on differences in RDATA.

Good point. We can piggyback on the definition of “RRset” in [RFC 9499](https://datatracker.ietf.org/doc/html/rfc9499#rrs), which, when quoting [RFC 2181 § 5](https://www.rfc-editor.org/rfc/rfc2181#section-5), states that “the TTLs of all RRs in an RRSet must be the same”.

In a nutshell, this means that:

- whenever we check the consistency of RRsets obtained from different authoritative name servers, be it in Zone09 or elsewhere, we should also compare TTLs;
- and to avoid confusion, we should report a specific error when two RRsets only differ by their TTLs.

Besides, I’m not sure if all test cases check RRset consistency the same way. For example in Zone11, if two name servers same the same SPF record with different TTLs, I don’t think we report the discrepancy.

I do not think https://www.rfc-editor.org/rfc/rfc2181#section-5.2 is relevant since it refer to the TTL of the members of an RRset in a response from one server, as I read it. Instead it is a matter on consistency between servers, which is not an absolute requirement since inconsistency is permitted during zone update.

I think we should introduce TTL check whenever we update test cases that check consistency between servers.