dnssec02 needs to be relaxed

Probably.  DNSKEY set not getting signed by some of keys present in DS:
- does not imply any validation issues (by itself)
- has some reasonable use cases, apparently
- is reported as ERROR DS02_NO_MATCHING_DNSKEY_RRSIG
  > The DNSKEY RRset is not signed by the DNSKEY that the DS record refers to.

Recent discussion thread: https://lists.dns-oarc.net/pipermail/dns-operations/2022-January/021509.html

Thank you for your comment. We will investigate and possibly update the test case. The DNSSEC specifications are not crystal clear.





[RFC 4035 section 2.4](https://datatracker.ietf.org/doc/html/rfc4035#section-2.4) says:

>  A DS RR SHOULD point to a DNSKEY RR that is present in the child's
   apex DNSKEY RRset, and the child's apex DNSKEY RRset SHOULD be signed
   by the corresponding private key.  DS RRs that fail to meet these
   conditions are not useful for validation, but because the DS RR and
   its corresponding DNSKEY RR are in different zones, and because the
   DNS is only loosely consistent, temporary mismatches can occur.

I think this paragraph supports the idea to update the specification and allow having unused DS records only if all DNSKEY records are properly signed.

> Maybe this paragraph supports the idea to update the specification and allow having unused DS records only if all DNSKEY records are properly signed.

The text maybe allows to lower the lever from ERROR to WARNING, but else I think DNSSEC02 matches the RFC.

Resolved by #1036.