Zone08 test isn't valid anymore?

Hi,

We were recently using this (excellent) service for some DNS testing, and we encountered the [Zone08](https://www.zonemaster.re/latest/specifications/tests/Zone-TP/zone08.html) error at some point:

![image](https://github.com/user-attachments/assets/3c9d1f84-a3a0-402c-b471-e39f607c9709)

This appears incorrect. At least from my understanding, RFC 2181 is long outdated, and RFC 5321 which replaces it allows MX records pointing to CNAME records. Have a look [here](https://postale.io/faq/#Is%20it%20possible%20to%20white%20label%20the%20MX%20record?) for details.

Thank you for pointing this out. We will investigate. My picture is, however, that it is OK to use a name with a CNAME that points at an MX, but that the hostname in the MX RDATA must be a hostname with an A or AAAA record (or both), and not a CNAME record.

We will make sure that Zone08 does the right thing.

Thank you @matsduf, much appreciated!

Interpreting RFC 5321 is not always obvious (to me), but one sentence in particular makes me think that the hostname in an MX can be a CNAME. From section [5.1](https://www.rfc-editor.org/rfc/rfc5321#section-5.1): 

> The lookup first attempts to locate an MX record associated with the name. If a CNAME record is found, the resulting name is processed as if it were the initial name.

Let me know how your investigation goes.

Thank ytou for the example @matsduf. I see the distinction.

I think your interpretation is correct is by "lookup" the sentence means looking up the domain name, rather than looking up the MX record of the domain name.

My interpretation was the latter, but yours might be the right one. A few sentences above the RFC mentions the domain name when discussing lookup:

> a DNS lookup MUST be performed to resolve the domain name

And more importantly a little later:

> When a domain name associated with an MX RR is looked up and the
>    associated data field obtained, the data field of that response MUST
>    contain a domain name.  That domain name, when queried, MUST return
>    at least one address record (e.g., A or AAAA RR) that gives the IP
>    address of the SMTP server to which the message should be directed.
>    Any other response, specifically including a value that will return a
>    CNAME record when queried, lies outside the scope of this Standard.
>    The prohibition on labels in the data that resolve to CNAMEs is
>    discussed in more detail in [RFC 2181, Section 10.3](https://www.rfc-editor.org/rfc/rfc2181#section-10.3) [[38](https://www.rfc-editor.org/rfc/rfc5321#ref-38)].

And section [10.3](https://www.rfc-editor.org/rfc/rfc2181#section-10.3):

> The domain name used as the value of a NS resource record, or part of
>    the value of a MX resource record must not be an alias.  Not only is
>    the specification clear on this point, but using an alias in either
>    of these positions neither works as well as might be hoped, nor well
>    fulfills the ambition that may have led to this approach.  This
>    domain name must have as its value one or more address records.
>    Currently those will be A records, however in the future other record
>    types giving addressing information may be acceptable.  It can also
>    have other RRs, but never a CNAME RR.

RFC considerations apart, using a hostname that resolves to a CNAME in an MX record works fine in my experience. But I now think that the Zone08 test and your understanding of the RFC are correct. 

Yes, and the claim in https://postale.io/faq/#Is%20it%20possible%20to%20white%20label%20the%20MX%20record? is wrong.

@DoobleD, an update: I contacted Postale.IO and if you follow the link you can see that the FAQ item has been removed.

Thank you @matsduf!